datasets/ficker8k_images
datasets/Flickr8k_Nepali_Dataset.zip
__pycache__/
*.pt
*.ipynb_checkpoints/
venv
.gitignore
accuracy.py
image_retrieval.py
new_acc.py
streamLit.py
test.py
testing_pipeline.py
visualize.py
env/
